/* teaching-theme.css */

@import 'base-theme.css';

:root {
    --r-background-color: var(--opengisch-green);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--opengisch-light) !important;
    -webkit-text-stroke: 2px var(--opengisch-dark);
}

p {
    color: var(--opengisch-dark) !important;
}

ul {
    color: var(--opengisch-dark) !important;
    list-style-type: circle;
}